/* base styles */
html, body {
  margin: 0;
  padding: 0;
}


body {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

body * {
  box-sizing: border-box;  
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;

}

ul, p {
  margin: 0;
}

p {
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;

}
h1 {
  
  font-size: 3.5rem;
}
  
h2 {
  font-size: 2rem;
}

h3 { 
  font-size: 1.5rem;
}


.button {
 
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: .5em;
  width: 8em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}


/* Layout Styles */

.hero__container {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__container__header {
  padding-bottom: 1em;
  
}

.hero__container__subheader {
  padding-bottom: 2em;
  width: 40%;
}

/* .lets-chat__form-row {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;

} */

/* .lets-chat__form-column {
  display:flex;
  justify-content: center;
} */

/* Block Styles  */


.navbar__list {
  display: flex;
  justify-content: flex-end;

}

.navbar__list-items {
  list-style: none;
  margin: 1em 1em 1em 1em;
}

.navbar__list-items__link {
  text-decoration: underline;
}

.navbar__list-items__tour-btn {
  padding-right: 1em;
  padding-left: 1em;
}



.hero__header {
  text-align: center
}

.hero__subheader {
  text-align: center;
  max-width: 40em;
  min-width: 10em;
}

.hero__video {
  width: 100%;
  min-width: 34em;
  min-height: 20em;
}


.submit-btn {
  border: none;
}

.lets-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lets-chat__heading {
  text-align: center;
  margin-bottom: .25em;
}

.lets-chat__body {
  text-align: center;
  max-width: 30em;
  margin-bottom: 2em;
}

 .lets-chat__form__input {
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  width: 100%;
  margin-bottom: .5em;
  margin-left: .5em;
  border: 1px solid black;
  
}

  .lets-chat__form-row__items {
width: 100%;
}

.lets-chat__form-column {
  width: 100%;
} 